In [1]:
import feast
import pandas as pd

In [2]:
fs = feast.FeatureStore(repo_path="/home/gianmaria/repos/airbnb-bc/src/feast/airbnb/feature_repo")

In [3]:
df = pd.read_parquet("/home/gianmaria/repos/airbnb-bc/src/feast/airbnb/data/target_df.parquet")

In [4]:
# Retrieve training data from BigQuery
training_df = fs.get_historical_features(
    entity_df= df,
    features=['df1_feature_view:bathrooms',
              'df2_feature_view:available_days'
              ], 
)

In [5]:
tdf = training_df.to_df()

In [6]:
tdf.sort_values(by='airbnb_property_id')

,airbnb_property_id,target,event_timestamp,bathrooms,available_days
24848,74819,False,2023-10-01 00:00:00+00:00,2,31
16636,74819,True,2023-07-01 00:00:00+00:00,2,24
7670,74819,True,2023-03-01 00:00:00+00:00,2,27
4106,74819,True,2023-01-01 00:00:00+00:00,2,31
12135,74819,True,2023-06-01 00:00:00+00:00,2,25
...,...,...,...,...,...
22530,985326724713973239,False,2023-10-01 00:00:00+00:00,2,31
19857,985326724713973239,True,2023-09-01 00:00:00+00:00,2,3
22552,985389662447322939,False,2023-10-01 00:00:00+00:00,1,31
19872,985389662447322939,True,2023-09-01 00:00:00+00:00,1,3
22545,986143650561802438,False,2023-10-01 00:00:00+00:00,1,31